<ion-view view-title="Mains" ng-controller="appCtrl">
	<ion-nav-bar class="bar-stable">
	  <ion-nav-back-button>
	  </ion-nav-back-button>

	  <ion-nav-buttons side="left">
	    <button class="button button-icon button-clear ion-navicon" ng-click="toggleLeft()">
	    </button>
	  </ion-nav-buttons>
	</ion-nav-bar>

	<ion-side-menus>
	  <!-- Left menu -->
	  <ion-side-menu side="left">
	    <ul class="list">
	        <li class="item">
	          HIhiHIhiHI
	        </li>
	        <li class="item">
	          HIhiHIhiHI
	        </li>
	        <li class="item">
	          HIhiHIhiHI
	        </li>
	    </ul> 
	  </ion-side-menu>

	  <ion-side-menu-content>
	    <div style="height:50px;"></div>
	    <ion-list>
	      <ion-item>
	         <span>hihi</span>  
	      </ion-item>
	    </ion-list>
	  </ion-side-menu-content>
	  
	</ion-side-menus>
</ion-view>
