<ion-view view-title="Mains" ng-controller="appCtrl">
	<ion-nav-bar class="bar-stable">
	  <ion-nav-back-button>
	  </ion-nav-back-button>

	  <ion-nav-buttons side="left">
	    <button class="button button-icon button-clear ion-navicon" ng-click="toggleLeft()">
	    </button>
	  </ion-nav-buttons>
	</ion-nav-bar>

	<ion-side-menus>
	  <!-- Left menu -->
	  <ion-side-menu side="left">
	    <ul class="list">
	    	<li class="item" style="margin-top:45px;">
	    		SCHEDULE
	    	</li>
	    </ul> 
	  </ion-side-menu>

	  <ion-side-menu-content style="overflow:scroll;">
	    <div style="height:45px;"></div>
	    <ion-list>
	      <ion-item style="padding:0" id="homepage-img-1">
	         <div class="homepage-bg-img" ng-click="listVolunteers(1)">
	         	<img src="http://i.imgur.com/qlfKbk9.jpg">
	         	<div class="homepage-text">GLOBAL BISTRO</div>
	         	<div class="homepage-subtext">5 volunteers</div>
	         </div>
	         <ol class="rectangle-list">
	           <li class="row volunteers_list" ng-show="volunteerData && properIndex == 1" ng-repeat="volunteer in volunteers">
	           		<a href="#">
		           		<span style="width:50%; float:left;">{{volunteer.first_name}} {{volunteer.last_name}}</span>
		           		<span style="width:50%; text-align:right; float:right;"> {{volunteer.weekly_hrs}} working hours this week.</span>
		           	</a>
	           </li>
	         </ol>
	      </ion-item>
	      <ion-item style="padding:0">
	         <div class="homepage-bg-img">
	         	<img src="http://i.imgur.com/im1HMu4.jpg">
	         	<div class="homepage-text">GLOBAL BISTRO</div>
	         	<div class="homepage-subtext">5 volunteers</div>
	         </div>
              <ol class="rectangle-list">
                <li class="row volunteers_list" ng-show="volunteerData && properIndex == 2" ng-repeat="volunteer in volunteers">
                		<a href="#">
     	           		<span style="width:50%; float:left;">{{volunteer.first_name}} {{volunteer.last_name}}</span>
     	           		<span style="width:50%; text-align:right; float:right;"> {{volunteer.weekly_hrs}} working hours this week.</span>
     	           	</a>
                </li>
              </ol>	         
	      </ion-item>
	      <ion-item style="padding:0">
	         <div class="homepage-bg-img">
	         	<img src="http://i.imgur.com/Rb0Vtfa.jpg">
	         	<div class="homepage-text">GLOBAL BISTRO</div>
	         	<div class="homepage-subtext">5 volunteers</div>
	         </div>
              <ol class="rectangle-list">
                <li class="row volunteers_list" ng-show="volunteerData && properIndex == 3" ng-repeat="volunteer in volunteers">
                		<a href="#">
     	           		<span style="width:50%; float:left;">{{volunteer.first_name}} {{volunteer.last_name}}</span>
     	           		<span style="width:50%; text-align:right; float:right;"> {{volunteer.weekly_hrs}} working hours this week.</span>
     	           	</a>
                </li>
              </ol>	
	      </ion-item>
	      <ion-item style="padding:0">
	         <div class="homepage-bg-img">
	         	<img src="http://i.imgur.com/j4HpoQ2.jpg">
	         	<div class="homepage-text">GLOBAL BISTRO</div>
	         	<div class="homepage-subtext">5 volunteers</div>
	         </div>
              <ol class="rectangle-list">
                <li class="row volunteers_list" ng-show="volunteerData && properIndex == 4" ng-repeat="volunteer in volunteers">
                		<a href="#">
     	           		<span style="width:50%; float:left;">{{volunteer.first_name}} {{volunteer.last_name}}</span>
     	           		<span style="width:50%; text-align:right; float:right;"> {{volunteer.weekly_hrs}} working hours this week.</span>
     	           	</a>
                </li>
              </ol>	
	      </ion-item>
	      <ion-item style="padding:0">
	         <div class="homepage-bg-img">
	         	<img src="http://i.imgur.com/WLVFTxo.jpg">
	         	<div class="homepage-text">GLOBAL BISTRO</div>
	         	<div class="homepage-subtext">5 volunteers</div>
	         </div>
             <ol class="rectangle-list">
               <li class="row volunteers_list" ng-show="volunteerData && properIndex == 2" ng-repeat="volunteer in volunteers">
               		<a href="#">
    	           		<span style="width:50%; float:left;">{{volunteer.first_name}} {{volunteer.last_name}}</span>
    	           		<span style="width:50%; text-align:right; float:right;"> {{volunteer.weekly_hrs}} working hours this week.</span>
    	           	</a>
               </li>
             </ol>	
	      </ion-item>
	    </ion-list>
	  </ion-side-menu-content>
	  
	</ion-side-menus>
</ion-view>
